/* header style starts here*/

#myNavbar {
    float: right;
}

.container-fluid .navbar-brand {
    font-family: 'Akronim';
    font-size: 50px;
    padding-top: 20px;
}


/* header style ends here*/


/*index style starts here*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body {
    padding-top: 160px;
}

.wrapper {
    background: whitesmoke;
    width: 380px;
    padding: 40px 30px 50px 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 10px 18px lightpink;
}

.wrapper header {
    color: crimson;
    font-size: 35px;
    font-weight: 600;
}

.wrapper form {
    margin: 40px 0;
}

form .field {
    width: 100%;
    margin-bottom: 20px;
}

form .field.shake {
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0%,
    100% {
        margin-left: 0;
    }
    20%,
    80% {
        margin-left: -12px;
    }
    40%,
    60% {
        margin-left: 12px;
    }
}

form .field .input-area {
    position: relative;
}

form input {
    height: 30px;
    width: 310px;
    outline: none;
    padding: 0 45px;
    font-size: 18px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    border-bottom-width: 2px;
}

form .field.error input {
    border-color: #dc3545;
}

form input::placeholder {
    color: #bfbfbf;
    font-size: 17px;
}

form .field i {
    position: absolute;
    top: 50%;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(-50%);
}

form .field .icon {
    left: 15px;
    color: #bfbfbf;
}

form .field .error-icon {
    right: 15px;
    color: dc3545;
}

form .field .error-txt {
    margin-top: 5px;
    color: #dc3545;
    text-align: left;
}

form .field .error {
    display: none;
}

form .field.error .error {
    display: block;
}

form .pass-link {
    text-align: left;
    margin-top: -10px;
}

.wrapper a {
    color: #5373F0;
    text-decoration: none;
}

.wrapper a:hover {
    text-decoration: underline;
}

form input[type="submit"] {
    margin-top: 30px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: crimson;
    transition: background 0.2s ease;
}

input[type="submit"]:hover {
    background-color: red;
}

.wrapper .cname {
    color: crimsom;
    text-align: center;
    font-size: 50px;
    font-family: 'Akronim';
}


/*index style ends here*/


/*style for scroll bar starts here */

 ::-webkit-scrollbar {
    width: 4px;
    background-color: black;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 800px;
    background-color: crimson;
}


/*style for scroll bar ends here*/

.about {
    font-family: 'Akaya Telivigala';
    font-size: 50px;
    padding: 4px;
    color: crimson;
}

.des {
    margin-left: 130px;
    font-family: 'Amita';
    font-size: 35px;
    color: #CD5C5C;
}

.content {
    margin-left: 110px;
    font-family: 'Allan';
    font-size: 25px;
}

#image {
    margin-top: 70px;
}

.btn {
    border: 2px solid black;
    border-radius: 5px;
}

.btn:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: crimson;
}

ul {
    list-style-type: none;
    margin-left: 120px;
}

ul li a {
    color: black;
}

ul li a:hover {
    color: whitesmoke;
    text-decoration: none;
}


/*footer style starts here*/

.foot {
    margin-top: 20px;
    padding: 25px 0;
    background-color: #444;
}

.foot .container-fluid {
    max-width: 1500px;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
}

.foot .container-fluid .text {
    text-align: center;
    color: #fff;
}

.foot .container-fluid .text a {
    color: whitesmoke;
}

.foot .container-fluid .text a:hover {
    text-decoration: none;
}

.foot .container-fluid .fontsty {
    font-family: 'Akronim';
}

.foot .container-fluid .row {
    color: white;
}

.foot .container-fluid .row p {
    color: cyan;
}

.foot .container-fluid .row a {
    color: cyan;
    text-decoration: none;
}


/*footer style ends here*/